*{
    margin: 0px;
    padding: 0px;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 115, 76);
 
}
nav ul li {
    list-style: none;
    margin: 10px 30px;   
}

a{
    padding: 10px 20px;
    text-decoration: none;
    color : black;
    font-weight: bold;
    font-size: 30px;
    font-family: Serif;
}
a:link{
    color: rgb(255, 252, 165);
}
a:visited{
    color: rgb(0, 0, 0);
}
a:hover{
    text-decoration: underline;
    color: rgb(255, 191, 222);
}
a:active{

    text-decoration: underline;
    color: #e9ffb9;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
}
main .left , main .right {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    justify-items: center;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px 10vh 20px;
    background-color: rgb(255, 255, 255);
}
main .left img , main .right img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    padding: 10px;
}

p{    
    text-align: left;
    text-decoration: underline;
    color : rgb(255, 255, 255);
    margin: 7px 70px ;
    padding: 10px;
    font-weight: bold;
    font-size: 50px;
    font-family: Serif; 
}